<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/less")
    @Styles.Render("~/Content/dataTables")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="main-menu navbar navbar-inverse">
        @Html.Action("_MainMenu", "Home")
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @*<div class="footer">
            <div style="float: none;">
                <div style="padding-left:20px;">
                    <p>
                        Our Partners:
                    </p>
                </div>
                <div class="sponsors">
                    <a href="https://www.beiersdorf.com/career/students-and-graduates">
                        <img src="https://www.estiem.org/Internal/Images/ESTIEMPortal/Footer/BDF_Logo.jpg" alt="Beiersdorf" />
                    </a>
                    <a href="https://www.efaqt.com/Estiem">
                        <img src="https://www.estiem.org/Internal/Images/ESTIEMPortal/Footer/efaqt.png" alt="eFaqt" />
                    </a>
                    <a href="http://www.storaenso.com/">
                        <img src="https://www.estiem.org/Internal/Images/ESTIEMPortal/Footer/Stora Enso.png" alt="Stora Enso" />
                    </a>
                </div>

            </div>
        </div>*@


    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>