<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="main-menu navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header main-logo">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("https://estiem.org/Internal/Images/EstiemPortal/estiem_logo_frontpage.png")" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="main-menu">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="main-menu">@Html.ActionLink("Events", "Index", "Events")</li>
                    <li class="main-menu">@Html.ActionLink("My Profile", "MyProfile", "Profile")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @*<div class="footer">
            <div style="float: none;">
                <div style="padding-left:20px;">
                    <p>
                        Our Partners:
                    </p>
                </div>
                <div class="sponsors">
                    <a href="https://www.beiersdorf.com/career/students-and-graduates">
                        <img src="https://www.estiem.org/Internal/Images/ESTIEMPortal/Footer/BDF_Logo.jpg" alt="Beiersdorf" />
                    </a>
                    <a href="https://www.efaqt.com/Estiem">
                        <img src="https://www.estiem.org/Internal/Images/ESTIEMPortal/Footer/efaqt.png" alt="eFaqt" />
                    </a>
                    <a href="http://www.storaenso.com/">
                        <img src="https://www.estiem.org/Internal/Images/ESTIEMPortal/Footer/Stora Enso.png" alt="Stora Enso" />
                    </a>
                </div>

            </div>
        </div>*@


    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>