@model EstiemPortal6.ViewModels.MainMenuViewModel
<div class="container">
    <div class="navbar-header main-logo">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="@Url.Action("Index", "Home")">
            <img style = "padding-top:5px" src="@Url.Content("https://estiem.org/Internal/Images/EstiemPortal/estiem_logo_frontpage.png")" />
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="main-menu">@Html.ActionLink("Home", "Index", "Home", null, new { style = "padding-top:20px" })</li>
            <li class="main-menu">@Html.ActionLink("Events", "Index", "Events", null, new { style = "padding-top:20px" })</li>
            <li>
                <a href='@Url.Action("Index", "Profile", new { userid = Model.UserId })'>
                <img height="32"src="@Url.Content("https://www.estiem.org/userimage.aspx?id=" + @Model.UserId)" />
                <span>@Model.Name</span>
                </a>
            </li>
            @Html.Partial("_LoginPartial")
        </ul>
    </div>
</div>
