@model PagedList.PagedList<EstiemPortal6.ViewModels.EventViewModel>
@using PagedList.Mvc;
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>

<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery(".event-description").hide();
  //toggle the componenet with class msg_body
  jQuery(".event-box").click(function()
  {
    jQuery(this).next(".event-description").slideToggle(300);
  });
});
</script>


<h2>Events</h2>

@using (Html.BeginForm("index", "Events", FormMethod.Get))
{
    <p>
        Search Events: @Html.TextBox("searchString", ViewBag.CFilter as string)
        <input type="submit" value="Search" />
    </p>
}


@Html.ActionLink("Upcoming Events", "Index", "Events", new { Filter = "upcoming" }, new { @class = "btn btn-default"})
@Html.ActionLink("Past Events", "Index", "Events", new { Filter = "past" }, new { @class = "btn btn-default" })
@Html.ActionLink("Application Open", "Index", "Events", new { Filter = "application_open" }, new { @class = "btn btn-default" })


@foreach (var item in Model)
{
    @Html.Partial("_SingleEvent", item)
}


@*Displays current page and total number of pages*@
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount 
@*Enables movement between pages Todo: Edit this*@
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, Filter = ViewBag.Filter }))
