@model IQueryable<EstiemPortal6.ViewModels.ParticipantsViewModel>

@if(Model.Count()==0)
{
    <h2>There are no participants for this event.</h2>
}
else
{
<h2>Participants of @Model.First().EventName</h2>
<table id="participantstable">
    <thead>
        <tr class="row greentext">
            <th class="col-xs-3">
                Name
            </th>
            <th class="col-xs-3">
                Local Group
            </th>
            <th class="col-xs-3">
                Registration Status
            </th>
            <th class="col-xs-3">
                Application Date (Sort broken)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pax in Model)
        {
            <tr class="row" style="padding:5px;">
                <td class="col-xs-3">
                    @Html.ActionLink(@pax.Name, "Index", "Profile", new { userid = @pax.UserId }, new { style = "color:black;" })
                </td>
                <td class="col-xs-3">
                    @pax.LocalGroup
                </td>
                <td class="col-xs-3">
                    @switch (pax.RegistrationStatus)
                {
                        @*Make this enum*@
                    case 0:
                        <span>Registered</span>
                        break;
                    case 1:
                        <span>Waiting </span>
                            break;
                        case 2:
                            <span>Canceled </span>
                            break;
                        case 3:
                            <span>Canceled Late </span>
                            break;
                        case 4:
                            <span>DidNotShowUp </span>
                            break;
                        case 5:
                            <span>Organizer </span>
                            break;
                        case 6:
                            <span>Withdrawn </span>
                            break;
                    }

                </td>
                <td class="col-xs-3">
                    @pax.ApplicationDate.ToString("dd.MM.yyyy")
                </td>
            </tr>
        }
    </tbody>
</table>
}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>


<script type="text/javascript" charset="utf8">
    $(document).ready(function () {
        $.fn.dataTable.moment('dd.MM.yyyy ');
        $('#participantstable').dataTable({
            "pageLength": 25,
        });
    });

</script>
