@model IQueryable<EstiemPortal6.ViewModels.EventViewModel>


@foreach (var ev in Model)

{
    <div class="event-front-page">
        <div>
            <b>
                @Html.ActionLink(@ev.Name + ", " + @ev.Place, "Event", "Events", new { Id = @ev.EventId }, new { @class = "event-details1" })
            </b>

        </div>
        <div class="event-details2">
            @ev.StartDate.ToString("dd.MM.yyyy") - 
            @ev.EndDate.ToString("dd.MM.yyyy")  |

            @if (ev.ApplicationEndDate > DateTime.Today && ev.ApplicationEndDate != null)
            {
                @ev.ApplicationEndDate.Value.Date.Subtract(DateTime.Now.Date).ToString("%d")
                <span> days left to apply</span>
            }
            else
            {
                <span>Application Closed</span>
            }
        </div>
    </div>
}